extends layout

block content
  h1 Create Team
  p.lead Create a new team
  hr

  form.form-horizontal(method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3.control-label(for='name') Team Name
      .col-sm-7
        input.form-control(type='text', name='name', id='name', placeholder='Team Name', autofocus, required)
    .form-group
      .col-sm-offset-3.col-sm-7
        button.col-sm-3.btn.btn-primary(type='submit')
          i.fa.fa-user
          | Create