extends layout

block content
  h1 #{title}
  hr
  .panel.panel-default
    .panel-heading How do I sign up?
    .panel-body Go to this #[a(href='/auth/google') link] sign in using PPY. 

  .panel.panel-default
    .panel-heading How do I join a team?
    .panel-body After signing in you can join a team by going to this #[a(href='/join') link] or by clicking on any challenge. 
                | You can join an existing team by entering the team code provided by your team leader or create your own.

  .panel.panel-default
    .panel-heading How does this work?
    .panel-body The person who made the team will get an email on the day of the competition with a code. Once you enter that code in the activity, your hunt will begin and the first clue will be unlocked. Each clue points to a place or object on campus. Around that place or object, you will find a barcode. Scan it and insert the code generated on the website. The correct code will unlock the next challenge. The team to reach the end the quickest will win. In case no one reaches the end, teams will be evaluated based on their scores and timings. 

  .panel.panel-default
    .panel-heading What if I know that the place is correct but I don’t see a barcode?
    .panel-body There is a chance that someone might have removed the barcode. In that case, email us at #[a(href='mailto:yorkcshub@gmail.com') yorkcshub@gmail.com] with your place. If correct, we shall provide you with the code. 

  .panel.panel-default
    .panel-heading What kind of prizes will we get if our team wins?
    .panel-body Drones
  
  .panel.panel-default
    .panel-heading How many people can be there in my team?
    .panel-body Anywhere between 1 to 4 people, no more than that.

  .panel.panel-default
    .panel-heading Do I need to have any programming experience to participate?
    .panel-body Not at all. All you need to succeed is sound logic and resourcefulness. 

  .panel.panel-default
    .panel-heading How do I contact someone for more information?
    .panel-body Send us an email as #[a(href='mailto:yorkcshub@gmail.com') yorkcshub@gmail.com] or tweet/DM at #[a(href='https://twitter.com/theCSHUB') @theCSHUB] and someone will get back to you shortly.

  .panel.panel-default
    .panel-heading How long will this treasure hunt last?
    .panel-body We have 10 challenges for your team and a time limit of about 2 days. It’s up to you as to how much time do you finish it in. Obviously, the faster you do it, the better. 

  .panel.panel-default
    .panel-heading I joined the wrong team. What should I do?
    .panel-body Go to My Account &rarr; Delete Account and then sign in again.
  
  .panel.panel-default
    .panel-heading If I delete my account, does my team also get deleted?
    .panel-body Yes, if you are the only player in your team, otherwise not.
