extends layout

block content
    h1
    .jumbotron
      p.lead CSHUB presents
      h1 Lassonde Treasure Hunt
      p
        | 14 - 17 March 2017 @ York University
      p
        a.btn.btn-primary.btn-lg(href='/auth/google', role='button') Play!
    
    hr

    .row
    .col-sm-4
      h2 It's a Scavenger Hunt
      p The objective is to solve all the clues and get the end. The previous clue will give you the location of the next clue and so forth. Find all the clues first with your team and win the prize. To send the clue in find the QR code. Note: If any team takes down the QR codes you will be disqualified.
    .col-sm-4
      h2 Winner gets Prizes
      p Exams getting to you? Stressed about your assignments. Well take a break with your friends and walk around campus solving puzzles for your chance to win a drone.
    .col-sm-4
      h2 It's fun!
      p The first team to solve all the clues or the maximum number of clues will win a drone for each team member! Be careful as some clues are tricky and there are various QR codes around campus. Good luck!