extends layout

block content
    h1
    .jumbotron
      p.lead CSHUB presents
      h1 Lassonde Treasure Hunt
      p
        | 14 - 17 March 2017 @ York University
      p
        a.btn.btn-primary.btn-lg(href='/auth/google', role='button') Play!
    
    hr

    .row
    .col-sm-4
      h2 It's a Scavenger Hunt
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    .col-sm-4
      h2 Winner gets Prizes
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    .col-sm-4
      h2 It's fun!
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.