extends layout

block content
  h1 Join Team
  p.lead Join an existing team by entering the team code.
  hr

  form.form-horizontal(method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3.control-label(for='code') Team Code
      .col-sm-7
        input.form-control(type='text', name='code', id='code', placeholder='Team Code', autofocus, required)
    .form-group
      .col-sm-offset-3.col-sm-7
        button.col-sm-3.btn.btn-primary(type='submit')
          i.fa.fa-user
          | Join
        a.btn.btn-link(href='/create') or create a new team